@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

%abstract-text {
    font-family: "Neucha";
}

.title{
    @extend %abstract-text;
    font-size: 40px;
    color: #101010;

    text-align: center;
}

.text{
    @extend %abstract-text;
    font-size: 24px;
    color: #484848;

    text-align: center;

    @media screen and (max-width: 680px) {
        font-size: 5vw;
    }

    @media screen and (max-width: 500px) {
        font-size: 4.5vw;
    }
}

.sm-title{
    @extend %abstract-text;
    font-size: 16px;
    color: #101010;

    text-align: center;
    font-weight: 500;

    @media screen and (max-width: 680px) {
        font-size: 2.5vw;
    }

    @media screen and (max-width: 500px) {
        font-size: 2.2vw;
    }
}

.button{
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #101010; 

    color: #101010;
    font-family: Neucha;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: white;

    &_active{
        background-color: #101010;
        color: white;
    }
}